
backend/Services/obj/Debug/*
*.config
*.ide-wal
backend/.vs/VSWorkspaceState.json
backend/.vs/slnx.sqlite
backend/.vs/eHobby/v15/Server/sqlite3/storage.ide-wal
backend/.vs/eHobby/v15/Server/sqlite3/storage.ide-shm
backend/.vs/eHobby/v15/.suo
backend/.vs/config/applicationhost.config
backend/Data/bin/Debug/netcoreapp2.0/Data.deps.json
backend/Data/bin/Debug/netcoreapp2.0/Data.dll
backend/Data/bin/Debug/netcoreapp2.0/Data.pdb
backend/Data/obj/Debug/netcoreapp2.0/Data.csproj.CoreCompileInputs.cache
backend/Data/obj/Debug/netcoreapp2.0/Data.csprojResolveAssemblyReference.cache
backend/Data/obj/Debug/netcoreapp2.0/Data.dll
backend/Data/obj/Debug/netcoreapp2.0/Data.pdb
backend/WebApi/bin/Debug/netcoreapp2.0/WebApi.pdb
backend/WebApi/bin/Debug/netcoreapp2.0/WebApi.runtimeconfig.dev.json
backend/WebApi/bin/Debug/netcoreapp2.0/WebApi.dll
backend/WebAPI/bin/Debug/netcoreapp2.0/Service.pdb
backend/WebApi/bin/Debug/netcoreapp2.0/Repository.pdb
backend/WebApi/bin/Debug/netcoreapp2.0/Data.dll
backend/Service/obj/Debug/netcoreapp2.0/Service.csproj.CoreCompileInputs.cache
backend/Service/obj/Debug/netcoreapp2.0/Service.csprojResolveAssemblyReference.cache
backend/Service/obj/Debug/netcoreapp2.0/Service.pdb
backend/Service/bin/Debug/netcoreapp2.0/Service.pdb
backend/Service/bin/Debug/netcoreapp2.0/Service.deps.json
backend/Service/bin/Debug/netcoreapp2.0/Repository.dll
backend/Service/bin/Debug/netcoreapp2.0/Data.dll
backend/.vs/config/applicationhost.config
backend/Service/bin/Debug/netcoreapp2.0/Service.deps.json
backend/Service/obj/Debug/netcoreapp2.0/Service.csproj.FileListAbsolute.txt
backend/WebApi/bin/Debug/netcoreapp2.0/WebApi.runtimeconfig.dev.json
